SMS Services/Melipayamak.com/asp/mpAsp.netMVC-quickStart/MPMVC/Connected Services/ServiceReference/Send.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSimpleSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isflash" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSimpleSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSimpleSMSResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSimpleSMS2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isflash" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSimpleSMS2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSimpleSMS2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isflash" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="udh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWithDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isflash" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="domainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWithDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendWithDomainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="irancellCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mtnCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSmsPriceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCreditResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeliveryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDelivery2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDelivery2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDelivery2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMultiDeliveryResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiDelivery2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiDelivery2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMultiDelivery2Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recIds" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveriesResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDeliveries2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveries2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeliveries2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveries3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveries3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveries3Result" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInboxCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isRead" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInboxCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInboxCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMessagesResult" type="tns:ArrayOfMessagesBL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMessagesBL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MessagesBL" nillable="true" type="tns:MessagesBL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessagesBL">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseBL">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MsgID" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Tariff" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MsgType" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Udh" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SendDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FirstLocation" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentLocation" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Parts" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsFlash" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRead" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsUnicode" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Credit" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Module" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RecCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RecFailed" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RecSuccess" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsMoneyBack" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UserStepedMaster" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UserMaster" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MoneyBackCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MoneyBackLevel" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AutoSpeechText" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ShareServiceBodyID" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseBL" />
      <s:element name="SendByBaseNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bodyId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendByBaseNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendByBaseNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendByBaseNumber2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bodyId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendByBaseNumber2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendByBaseNumber2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendByBaseNumber3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendByBaseNumber3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendByBaseNumber3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="double" type="s:double" />
      <s:element name="int" type="s:int" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
      <s:element name="ArrayOfMessagesBL" nillable="true" type="tns:ArrayOfMessagesBL" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSimpleSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSimpleSMS" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSimpleSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMS2SoapIn">
    <wsdl:part name="parameters" element="tns:SendSimpleSMS2" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMS2SoapOut">
    <wsdl:part name="parameters" element="tns:SendSimpleSMS2Response" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendWithDomainSoapIn">
    <wsdl:part name="parameters" element="tns:SendWithDomain" />
  </wsdl:message>
  <wsdl:message name="SendWithDomainSoapOut">
    <wsdl:part name="parameters" element="tns:SendWithDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetSmsPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetSmsPrice" />
  </wsdl:message>
  <wsdl:message name="GetSmsPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetSmsPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:GetDelivery" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="GetDelivery2SoapIn">
    <wsdl:part name="parameters" element="tns:GetDelivery2" />
  </wsdl:message>
  <wsdl:message name="GetDelivery2SoapOut">
    <wsdl:part name="parameters" element="tns:GetDelivery2Response" />
  </wsdl:message>
  <wsdl:message name="GetMultiDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:GetMultiDelivery" />
  </wsdl:message>
  <wsdl:message name="GetMultiDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:GetMultiDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="GetMultiDelivery2SoapIn">
    <wsdl:part name="parameters" element="tns:GetMultiDelivery2" />
  </wsdl:message>
  <wsdl:message name="GetMultiDelivery2SoapOut">
    <wsdl:part name="parameters" element="tns:GetMultiDelivery2Response" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveries" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries2SoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveries2" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries2SoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveries2Response" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries3SoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveries3" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries3SoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveries3Response" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetInboxCount" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetInboxCountResponse" />
  </wsdl:message>
  <wsdl:message name="getMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:getMessages" />
  </wsdl:message>
  <wsdl:message name="getMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:getMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SendByBaseNumber" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SendByBaseNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber2SoapIn">
    <wsdl:part name="parameters" element="tns:SendByBaseNumber2" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber2SoapOut">
    <wsdl:part name="parameters" element="tns:SendByBaseNumber2Response" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber3SoapIn">
    <wsdl:part name="parameters" element="tns:SendByBaseNumber3" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber3SoapOut">
    <wsdl:part name="parameters" element="tns:SendByBaseNumber3Response" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMSHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="to" type="s1:StringArray" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="isflash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMSHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMS2HttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="isflash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMS2HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendWithDomainHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="isflash" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendWithDomainHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSmsPriceHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="irancellCount" type="s:string" />
    <wsdl:part name="mtnCount" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSmsPriceHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryHttpGetIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDelivery2HttpGetIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDelivery2HttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetMultiDeliveryHttpGetIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMultiDeliveryHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetMultiDelivery2HttpGetIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMultiDelivery2HttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesHttpGetIn">
    <wsdl:part name="recIds" type="s1:StringArray" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries2HttpGetIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries2HttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries3HttpGetIn">
    <wsdl:part name="recId" type="s1:StringArray" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries3HttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="isRead" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getMessagesHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="location" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="index" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getMessagesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessagesBL" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumberHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="text" type="s1:StringArray" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="bodyId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber2HttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="bodyId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber2HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber3HttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="to" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber3HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMSHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="to" type="s1:StringArray" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="isflash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMSHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMS2HttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="isflash" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSimpleSMS2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendWithDomainHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="isflash" type="s:string" />
    <wsdl:part name="domainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendWithDomainHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSmsPriceHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="irancellCount" type="s:string" />
    <wsdl:part name="mtnCount" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSmsPriceHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryHttpPostIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDelivery2HttpPostIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDelivery2HttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetMultiDeliveryHttpPostIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMultiDeliveryHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetMultiDelivery2HttpPostIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMultiDelivery2HttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesHttpPostIn">
    <wsdl:part name="recIds" type="s1:StringArray" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveriesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries2HttpPostIn">
    <wsdl:part name="recId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries2HttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries3HttpPostIn">
    <wsdl:part name="recId" type="s1:StringArray" />
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliveries3HttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="isRead" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInboxCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getMessagesHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="location" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="index" type="s:string" />
    <wsdl:part name="count" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getMessagesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfMessagesBL" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumberHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="text" type="s1:StringArray" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="bodyId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber2HttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="to" type="s:string" />
    <wsdl:part name="bodyId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber3HttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="text" type="s:string" />
    <wsdl:part name="to" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendByBaseNumber3HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SendSoap">
    <wsdl:operation name="SendSimpleSMS">
      <wsdl:input message="tns:SendSimpleSMSSoapIn" />
      <wsdl:output message="tns:SendSimpleSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSimpleSMS2">
      <wsdl:input message="tns:SendSimpleSMS2SoapIn" />
      <wsdl:output message="tns:SendSimpleSMS2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWithDomain">
      <wsdl:input message="tns:SendWithDomainSoapIn" />
      <wsdl:output message="tns:SendWithDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSmsPrice">
      <wsdl:input message="tns:GetSmsPriceSoapIn" />
      <wsdl:output message="tns:GetSmsPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditSoapIn" />
      <wsdl:output message="tns:GetCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <wsdl:input message="tns:GetDeliverySoapIn" />
      <wsdl:output message="tns:GetDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery2">
      <wsdl:input message="tns:GetDelivery2SoapIn" />
      <wsdl:output message="tns:GetDelivery2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery">
      <wsdl:input message="tns:GetMultiDeliverySoapIn" />
      <wsdl:output message="tns:GetMultiDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery2">
      <wsdl:input message="tns:GetMultiDelivery2SoapIn" />
      <wsdl:output message="tns:GetMultiDelivery2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <wsdl:input message="tns:GetDeliveriesSoapIn" />
      <wsdl:output message="tns:GetDeliveriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries2">
      <wsdl:input message="tns:GetDeliveries2SoapIn" />
      <wsdl:output message="tns:GetDeliveries2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries3">
      <wsdl:input message="tns:GetDeliveries3SoapIn" />
      <wsdl:output message="tns:GetDeliveries3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <wsdl:input message="tns:GetInboxCountSoapIn" />
      <wsdl:output message="tns:GetInboxCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <wsdl:input message="tns:getMessagesSoapIn" />
      <wsdl:output message="tns:getMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber">
      <wsdl:input message="tns:SendByBaseNumberSoapIn" />
      <wsdl:output message="tns:SendByBaseNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber2">
      <wsdl:input message="tns:SendByBaseNumber2SoapIn" />
      <wsdl:output message="tns:SendByBaseNumber2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber3">
      <wsdl:input message="tns:SendByBaseNumber3SoapIn" />
      <wsdl:output message="tns:SendByBaseNumber3SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendHttpGet">
    <wsdl:operation name="SendSimpleSMS">
      <wsdl:input message="tns:SendSimpleSMSHttpGetIn" />
      <wsdl:output message="tns:SendSimpleSMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSimpleSMS2">
      <wsdl:input message="tns:SendSimpleSMS2HttpGetIn" />
      <wsdl:output message="tns:SendSimpleSMS2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWithDomain">
      <wsdl:input message="tns:SendWithDomainHttpGetIn" />
      <wsdl:output message="tns:SendWithDomainHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSmsPrice">
      <wsdl:input message="tns:GetSmsPriceHttpGetIn" />
      <wsdl:output message="tns:GetSmsPriceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditHttpGetIn" />
      <wsdl:output message="tns:GetCreditHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <wsdl:input message="tns:GetDeliveryHttpGetIn" />
      <wsdl:output message="tns:GetDeliveryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery2">
      <wsdl:input message="tns:GetDelivery2HttpGetIn" />
      <wsdl:output message="tns:GetDelivery2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery">
      <wsdl:input message="tns:GetMultiDeliveryHttpGetIn" />
      <wsdl:output message="tns:GetMultiDeliveryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery2">
      <wsdl:input message="tns:GetMultiDelivery2HttpGetIn" />
      <wsdl:output message="tns:GetMultiDelivery2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <wsdl:input message="tns:GetDeliveriesHttpGetIn" />
      <wsdl:output message="tns:GetDeliveriesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries2">
      <wsdl:input message="tns:GetDeliveries2HttpGetIn" />
      <wsdl:output message="tns:GetDeliveries2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries3">
      <wsdl:input message="tns:GetDeliveries3HttpGetIn" />
      <wsdl:output message="tns:GetDeliveries3HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <wsdl:input message="tns:GetInboxCountHttpGetIn" />
      <wsdl:output message="tns:GetInboxCountHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <wsdl:input message="tns:getMessagesHttpGetIn" />
      <wsdl:output message="tns:getMessagesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber">
      <wsdl:input message="tns:SendByBaseNumberHttpGetIn" />
      <wsdl:output message="tns:SendByBaseNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber2">
      <wsdl:input message="tns:SendByBaseNumber2HttpGetIn" />
      <wsdl:output message="tns:SendByBaseNumber2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber3">
      <wsdl:input message="tns:SendByBaseNumber3HttpGetIn" />
      <wsdl:output message="tns:SendByBaseNumber3HttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendHttpPost">
    <wsdl:operation name="SendSimpleSMS">
      <wsdl:input message="tns:SendSimpleSMSHttpPostIn" />
      <wsdl:output message="tns:SendSimpleSMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSimpleSMS2">
      <wsdl:input message="tns:SendSimpleSMS2HttpPostIn" />
      <wsdl:output message="tns:SendSimpleSMS2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWithDomain">
      <wsdl:input message="tns:SendWithDomainHttpPostIn" />
      <wsdl:output message="tns:SendWithDomainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSmsPrice">
      <wsdl:input message="tns:GetSmsPriceHttpPostIn" />
      <wsdl:output message="tns:GetSmsPriceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditHttpPostIn" />
      <wsdl:output message="tns:GetCreditHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <wsdl:input message="tns:GetDeliveryHttpPostIn" />
      <wsdl:output message="tns:GetDeliveryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery2">
      <wsdl:input message="tns:GetDelivery2HttpPostIn" />
      <wsdl:output message="tns:GetDelivery2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery">
      <wsdl:input message="tns:GetMultiDeliveryHttpPostIn" />
      <wsdl:output message="tns:GetMultiDeliveryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery2">
      <wsdl:input message="tns:GetMultiDelivery2HttpPostIn" />
      <wsdl:output message="tns:GetMultiDelivery2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <wsdl:input message="tns:GetDeliveriesHttpPostIn" />
      <wsdl:output message="tns:GetDeliveriesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries2">
      <wsdl:input message="tns:GetDeliveries2HttpPostIn" />
      <wsdl:output message="tns:GetDeliveries2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries3">
      <wsdl:input message="tns:GetDeliveries3HttpPostIn" />
      <wsdl:output message="tns:GetDeliveries3HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <wsdl:input message="tns:GetInboxCountHttpPostIn" />
      <wsdl:output message="tns:GetInboxCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <wsdl:input message="tns:getMessagesHttpPostIn" />
      <wsdl:output message="tns:getMessagesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber">
      <wsdl:input message="tns:SendByBaseNumberHttpPostIn" />
      <wsdl:output message="tns:SendByBaseNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber2">
      <wsdl:input message="tns:SendByBaseNumber2HttpPostIn" />
      <wsdl:output message="tns:SendByBaseNumber2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber3">
      <wsdl:input message="tns:SendByBaseNumber3HttpPostIn" />
      <wsdl:output message="tns:SendByBaseNumber3HttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSoap" type="tns:SendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSimpleSMS">
      <soap:operation soapAction="http://tempuri.org/SendSimpleSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSimpleSMS2">
      <soap:operation soapAction="http://tempuri.org/SendSimpleSMS2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWithDomain">
      <soap:operation soapAction="http://tempuri.org/SendWithDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsPrice">
      <soap:operation soapAction="http://tempuri.org/GetSmsPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap:operation soapAction="http://tempuri.org/GetDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery2">
      <soap:operation soapAction="http://tempuri.org/GetDelivery2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery">
      <soap:operation soapAction="http://tempuri.org/GetMultiDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery2">
      <soap:operation soapAction="http://tempuri.org/GetMultiDelivery2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <soap:operation soapAction="http://tempuri.org/GetDeliveries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries2">
      <soap:operation soapAction="http://tempuri.org/GetDeliveries2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries3">
      <soap:operation soapAction="http://tempuri.org/GetDeliveries3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <soap:operation soapAction="http://tempuri.org/GetInboxCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <soap:operation soapAction="http://tempuri.org/getMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber">
      <soap:operation soapAction="http://tempuri.org/SendByBaseNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber2">
      <soap:operation soapAction="http://tempuri.org/SendByBaseNumber2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber3">
      <soap:operation soapAction="http://tempuri.org/SendByBaseNumber3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSoap12" type="tns:SendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSimpleSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSimpleSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSimpleSMS2">
      <soap12:operation soapAction="http://tempuri.org/SendSimpleSMS2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWithDomain">
      <soap12:operation soapAction="http://tempuri.org/SendWithDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsPrice">
      <soap12:operation soapAction="http://tempuri.org/GetSmsPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap12:operation soapAction="http://tempuri.org/GetCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap12:operation soapAction="http://tempuri.org/GetDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery2">
      <soap12:operation soapAction="http://tempuri.org/GetDelivery2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery">
      <soap12:operation soapAction="http://tempuri.org/GetMultiDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery2">
      <soap12:operation soapAction="http://tempuri.org/GetMultiDelivery2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries2">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveries2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries3">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveries3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <soap12:operation soapAction="http://tempuri.org/GetInboxCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <soap12:operation soapAction="http://tempuri.org/getMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber">
      <soap12:operation soapAction="http://tempuri.org/SendByBaseNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber2">
      <soap12:operation soapAction="http://tempuri.org/SendByBaseNumber2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber3">
      <soap12:operation soapAction="http://tempuri.org/SendByBaseNumber3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendHttpGet" type="tns:SendHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendSimpleSMS">
      <http:operation location="/SendSimpleSMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSimpleSMS2">
      <http:operation location="/SendSimpleSMS2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWithDomain">
      <http:operation location="/SendWithDomain" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsPrice">
      <http:operation location="/GetSmsPrice" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <http:operation location="/GetCredit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <http:operation location="/GetDelivery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery2">
      <http:operation location="/GetDelivery2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery">
      <http:operation location="/GetMultiDelivery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery2">
      <http:operation location="/GetMultiDelivery2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <http:operation location="/GetDeliveries" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries2">
      <http:operation location="/GetDeliveries2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries3">
      <http:operation location="/GetDeliveries3" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <http:operation location="/GetInboxCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <http:operation location="/getMessages" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber">
      <http:operation location="/SendByBaseNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber2">
      <http:operation location="/SendByBaseNumber2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber3">
      <http:operation location="/SendByBaseNumber3" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendHttpPost" type="tns:SendHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendSimpleSMS">
      <http:operation location="/SendSimpleSMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSimpleSMS2">
      <http:operation location="/SendSimpleSMS2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWithDomain">
      <http:operation location="/SendWithDomain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsPrice">
      <http:operation location="/GetSmsPrice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <http:operation location="/GetCredit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <http:operation location="/GetDelivery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery2">
      <http:operation location="/GetDelivery2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery">
      <http:operation location="/GetMultiDelivery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiDelivery2">
      <http:operation location="/GetMultiDelivery2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries">
      <http:operation location="/GetDeliveries" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries2">
      <http:operation location="/GetDeliveries2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveries3">
      <http:operation location="/GetDeliveries3" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboxCount">
      <http:operation location="/GetInboxCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <http:operation location="/getMessages" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber">
      <http:operation location="/SendByBaseNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber2">
      <http:operation location="/SendByBaseNumber2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByBaseNumber3">
      <http:operation location="/SendByBaseNumber3" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Send">
    <wsdl:port name="SendSoap" binding="tns:SendSoap">
      <soap:address location="http://api.payamak-panel.com/post/Send.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSoap12" binding="tns:SendSoap12">
      <soap12:address location="http://api.payamak-panel.com/post/Send.asmx" />
    </wsdl:port>
    <wsdl:port name="SendHttpGet" binding="tns:SendHttpGet">
      <http:address location="http://api.payamak-panel.com/post/Send.asmx" />
    </wsdl:port>
    <wsdl:port name="SendHttpPost" binding="tns:SendHttpPost">
      <http:address location="http://api.payamak-panel.com/post/Send.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>